<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Chart</title>
<script src="static/htmx.min.js"></script>
<script src="static/sse.js"></script>


<body>

<div hx-ext="sse" sse-connect="check">

  <div  style="margin-top:8vh" hx-get="getchart" hx-trigger="sse:newchart" hx-target=this>
      <div>
              % if chart:
                  <div>${chart|n}</div>
              % else:
                <p>No data yet: Waiting..</p>
              % endif
        </div>
  </div>

</div>

</body>
</html>
